.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: calc( 100% - 0.1rem );
    background: #cad6e2;
    height: 10%;
    border-top: 0.5px solid #777;
    padding: 5px 0px;;
}

.language {
    position: absolute;
    left: 5px;
}

.language button {
    width: 125px;
    height: 30px;
    padding: 0;
}
.langDDMenu {
    top: -280%;
    left: 37%;
    display: block;
}
.langText {
    text-align: center;
}
.langText:hover {
    background-color: rgb(104, 226, 115);
}
.footer-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.heart {
    color: #F00;
}