<div class="footer">
	<div class="dropup language">
		{{ dataService.serviceShareData.transData.lang }}: 
		<!-- <button type="button" class="btn btn-secondary">Dropup</button> -->
		<button 
			type="button"
			class="btn btn-secondary dropdown-toggle"
			data-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false"
			(click)="_doToggleLangauage()"
		>
			{{ dataService.serviceShareData.active_lang }}
			
		</button>
		<div
			class="dropdown-menu langDDMenu"
			aria-labelledby="dropdownMenuButton"
			*ngIf="footerData.isLangActive"
		>
			<a 
				class="dropdown-item langText"
				*ngFor="let lang of dataService.serviceShareData.languages"
				(click)="_doSelectLanguage( lang.name )"
			>
				{{ lang.name }}
			</a>
		</div>
	</div>
	
	<div class="footer-text">
		coded in &lt;ng /&gt; with <span class="heart">&hearts;</span> by &lt;adna_coderz /&gt; 
	</div>
</div>
