/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";

body {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #e9ecef;

    overflow: hidden;
}
